<mat-card>
  <mat-spinner mode="indeterminate" *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignUp(signUpForm)" #signUpForm="ngForm" *ngIf="!isLoading" fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field>
      <input matInput type="email" placeholder="E-Mail" name="email" ngModel #emailInput="ngModel" required email />
      <mat-error *ngIf="emailInput.invalid">Please Enter a Valid Email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" ngModel #passwordInput="ngModel" required />
      <mat-error *ngIf="passwordInput.invalid">Please Enter a Valid Password</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Sign Up</button>
    <amt-spinner *ngIf="isLoading"></amt-spinner>
  </form>
</mat-card>
